* {
    box-sizing: border-box;
}

h1.title {
    text-align: center;
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.kafelki {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    height: 140px;
}

section.kafelki div {
    width: 32%;
    height: 100%;
    background: black;
}

section.wybor {
    width: 50vw;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

section.wybor button {

    height: 100%;
    width: 68%;
    border: none;
    background-color: #777;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
}

section.wybor input {
    border: 1px solid black;
    padding: 0;
    height: 100%;
    width: 27%;
    font-size: 32px;
    text-align: center;
}

section.opis {
    width: 90vw;
    margin: 0 auto;
}

section.opis p {
    margin-top: 50px;
    text-align: center;
}

span {
    font-weight: 900;
    font-size: 24px;
}